/* Footer */
.block-footer{
	bottom: 0;
	width:100%;
	background: white;
	font-family: 'Segoe UI';
	font-size: 10px;
	display: flex;
	height: 5vh;
}

.block-footer .info1,
.block-footer .info2,
.block-footer .info3 {
  color: black;
  text-align: center;
	display: flex;
	margin: auto;
}


@media (min-width: 992px) {
	.block-footer{
		font-size: 12px;
	}
}



	/* Fin Footer */
