
/* Page de formulaire 3*/

.btn.btn-connection_p_5_1{
	display: flex;
	font-size: 35px;
	font-weight: bold;
	color: #00CCCB;
	font-family: Arial;
	margin: auto;
	margin-top: 100px;
	background: #515050;
	border-radius:30px;
	padding: 15px;
	border: groove;
	border-color: #00CCCB;
	float: left;
	margin-left: 225px;
}
.btn.btn-connection_p_5_1:hover{
	display: flex;
	font-size: 35px;
	font-weight: bold;
	color: #515050;
	font-family: Arial;
	margin: auto;
	margin-top: 100px;
	background: #00cccb;
	border-radius:30px;
	padding: 15px;
	border: groove;
	border-color: #515050;
	float: left;
	margin-left: 225px;
}

.btn.btn-connection_p_5_2{
	display: flex;
	font-size: 35px;
	font-weight: bold;
	color: #515050;
	font-family: Arial;
	margin: auto;
	margin-top: 100px;
	background: #00CCCB;
	border-radius:30px;
	padding: 15px;
	border: groove;
	border-color: #515050;
	float: right;
	margin-right: 190px;
}
.btn.btn-connection_p_5_2:hover{
	display: flex;
	font-size: 35px;
	font-weight: bold;
	color: #00cccb;
	font-family: Arial;
	margin: auto;
	margin-top: 100px;
	background: #515050;
	border-radius:30px;
	padding: 15px;
	border: groove;
	border-color: #00cccb;
	float: right;
	margin-right: 190px;
}

/* PARTIE RESPONSIVE */
