body p, h2 {
	color: black;
}

/* PAGE RESULTATS */

.resultats {
		/* min-height: 100vh; */
}

.block-center {
	background: url(../images_site/fond.jpg);
	min-height: 95vh;
	position: relative;
	background-attachment: fixed;
}

.block-center .fond {
	background: url(../images_site/imagefondpage3.jpg);
	background-size: cover;
	height:80px;
	background-attachment: fixed;
}

.block-center .fond .choose {
	margin-left: auto;
	margin-right: auto;
	height:100%;
	display: flex;
}

.block-center .description {
	width: 100%;
}

.block-center h2 {
	display: flex;
}

.block-center .fond a {
	font-size: 35px;
	text-decoration: none;
}


.block-center .results {
	color: white;
	font-size: 20px;
	margin: 10px 0;
}

.block-center span {
	margin: auto;
}

.block-center .affichage {
	padding-bottom: 5px;
}

/* Un résultat */
.block-center .un_article {
	display: flex;
	width: 97%;
	height: 100%;
	margin: 10px auto;
}

/* Un résultat */
.block-center .article {
	background: white;
	width: 100%;
	height: 100%;
	border-radius: 2rem;
}

.block-center .presentation,
.block-center .lien_article {
	display: flex;
}

.block-center .lien_article {
	margin: 10px 0;
}

/* Taille image */
.block-center .photo_article {
	margin: 10px;
	width: 100px;
	height: 100px;
	margin-left: 1rem;
	margin-top: 1rem;
}

.block-center .info {
	width: 10px;
}

/* Titre élément */
.block-center .titre_article {
	display: flex;
	margin-top: 10px;
}

/* Titre élément */
.block-center .titre_article h2 {
	margin: 5px auto;
	font-size: 18px;
}

/* Texte élément */
.block-center .texte_article {
	margin-top: 5px;
	display: flex;
}

/* Texte élément */
.block-center .texte_article p {
	font-size: 12px;
	margin: auto;

}

/* Infos éléments */
.block-center .ville_article,
.block-center .prix_article,
.block-center .horaire_article {
	display: flex;
	width:33%;
}

/* Infos éléments */
.block-center .infos {
	margin: auto;
}

/* Infos éléments */
.block-center .infos p {
	font-size: 12px;
}


@media (min-width: 768px){

	/* Un résultat */
	.block-center .un_article {
		width: 90%;
		margin: 20px auto;
		border-radius: 25px;
	}

	/* Taille image */
	.block-center .photo_article {
		width: 150px;
		height: 150px;
	}
}

@media (min-width: 992px){

	/* Un résultat */
	.block-center .un_article {
		width: 60%;
		margin: 30px auto;
		border-radius: 25px;
	}


	/* Titre élément */
	.block-center .titre_article h2 {
		margin: 10px auto;
		font-size: 22px;
	}

	/* infos éléments */
	.block-center .lien_article {
		margin: 15px 0;
	}


}
