@charset "utf-8";
/* CSS Document */

/* PAGE RESULTATS */
.block-center .fond {
	background: url(../../ressource/image/imagefondpage3.jpg);
	background-size: cover;
	height:100px;
}

.block-center .choose {
	margin-left: auto;
	margin-right: auto;
	height:100%;
	display: flex;
}

.block-center a {
	color: white;
	font-size: 35px;
	text-decoration: none;
}

.block-center span {
	margin: auto;
}

.block-center h1 {
	text-align: center;
	color: black;
	font-size: 30px;
}

.block-center h2 {
	font-size: 20px;
	color:black;
}

.block-center p {
	color: black;
	font-size: 10px;
}

.block-center .article {
	border: 1px solid black;	
	margin: 10px;
}

.block-center .presentation {
	display:flex;
}

.block-center .photo_article {
	height: 80px;
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;
}

.block-center .lien_article {
	display: flex;
}

.block-center .note_article {
	width:33%;
	margin-left: 10px;
}

.block-center .adresse_article{
	display: flex;
	width:33%;
	margin-left: 10px;
}

.block-center .horaire_article{
	display: flex;
	width:33%;
	margin-left: 10px;
}

.block-center .infos {
	margin-left:25px;
	margin: 0;
	vertical-align: super;
}

.block-center .adresse_article #adresse {
	vertical-align: baseline;
	width: 20px;
	height:20px;
	margin: auto 0;
}

.block-center .horaire_article #horaire {
	vertical-align: baseline;
	width:20px;
	height:20px;
}

/* FIN PAGE RESULTATS */

/* Footer */
.block-footer{
	font-family: 'Segoe UI';
	font-size: 10px;
	position:absolute;
	bottom:0;
	width:100%;
	height: 10vh;
	display: flex;
}

.block-footer .info1 {
    color: black;
    text-align: center;
	display: flex;
	margin: auto;
}


.block-footer .info2 {
    color: black;
    text-align: center;
	display: flex;
	margin: auto;
}

.block-footer .info3 {

    color: black;
    text-align: center;
	display: flex;
	margin: auto;
}

/* FIN FOOTER*/

/* PAGE DESCRIPTIF SOIREE */


.block-body .fond {
	background: url(../images_site/imagefondpage3.jpg);
	background-size: cover;
	height:100px;
	display: flex;
}

.block-body span {
	margin: auto;
	color: white;
	font-size: 35px;
}

.block-body .soiree {
	border: 1px solid black;
	margin: 10px auto;
	width: 350px;
}

.block-body .partie_description {
	display: flex;
}

.block-body .image {
	height: 120px;
}

.block-body .partie_description .description,
.block-body .partie_description .adresse,
.block-body .partie_description .etoiles {
	margin: 5px;
}

.block-body  .soiree .avis {
	margin: 5px 0px;
}









/* FIN PAGE DESCRIPTIF SOIREE */

/* PARTIE RESPONSIVE */


@media (min-width: 992px){
	
	/* PAGE RESULTATS */
	.block-center  .article {
		width: 900px;
		margin: 20px auto;
	}
	
	/* FIN PAGE RESULTATS */
	
	
}