@import url('footer.css');
@import url('formulaires.css');
@import url('header.css');
@import url('page_commencer_formulaire.css');
@import url('page_connexion.css');
@import url('page_descriptif_soiree.css');
@import url('page_inscription.css');
@import url('page_je_commence.css');
@import url('page_resultats.css');


body,html {
	min-height: 100%;
}

body {
	text-align: center;
}

*{
	margin:0;
	padding:0;
}
