@charset "utf-8";
/* CSS Document */

.fond {
	background: url(../../ressource/image/imagefondpage3.jpg);
	background-size: cover;
	height:100px;
}

.choose {
	margin-left: auto;
	margin-right: auto;
	height:100%;
	display: flex;
}

a {
	color: white;
	font-size: 35px;
	text-decoration: none;
}

span {
	margin: auto;
}

h1 {
	text-align: center;
	color: black;
	font-size: 30px;
}

h2 {
	font-size: 20px;
	color:black;
}

p {
	color: black;
	font-size: 10px;
}

.article {
	border: 1px solid black;	
	margin: 10px;
}

.presentation {
	display:flex;
}

.photo_article {
	height: 80px;
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;
}

.lien_article {
	display: flex;
}

.note_article {
	width:33%;
	margin-left: 10px;
}

.adresse_article{
	display: flex;
	width:33%;
	margin-left: 10px;
}

.horaire_article{
	display: flex;
	width:33%;
	margin-left: 10px;
}

.infos {
	margin-left:25px;
	margin: 0;
	vertical-align: super;
}

.adresse_article #adresse {
	vertical-align: baseline;
	width: 20px;
	height:20px;
	margin: auto 0;
}

.horaire_article #horaire {
	vertical-align: baseline;
	width:20px;
	height:20px;
}

/* Footer */

.block-footer{
	height: 10vh;
	display: flex;
}

.block-footer .info1 {
    color: white;
	font-size: 2em;
    text-align: center;
	display: flex;
	margin: auto;
}


.block-footer .info2 {
    color: white;
	font-size: 2em;
    text-align: center;
	display: flex;
	margin: auto;
}

.block-footer .info3 {
    color: white;
	font-size: 2em;
    text-align: center;
	display: flex;
	margin: auto;
}